

.mysite { background: #EEE; color: #444; border: 1px solid #888; font-size: 11px; font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif; font-weight: bold;
		display: inline; vertical-align: top; padding: 2px; border-radius: 3px; outline: none; text-decoration: none; margin: 3px; }

h2 { background: #DEF; color: #224; border: 2px solid #888; padding: 7px; border-radius: 7px; font-family: "Times New Roman", Times, serif; font-size: 170%; box-shadow: 5px 5px 5px #888888; }
h3 { background: #DEF; color: #224; border: 1px solid #888; padding: 4px; border-radius: 5px; font-family: "Times New Roman", Times, serif; font-size: 140%; box-shadow: 3px 3px 3px #888888; }

.navigation { background: #FFE; color: #800; padding: 6px; display: inline-block; border-radius: 2px; }
.navigation span { border: 1px solid #FDC; padding: 0px 5px; font-size: 90%; }

body { font-family: verdana,helvetica,arial,sans-serif; font-size: 14px; }
