@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');


* {
    box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
 
  width: 1240px;
}
body header h1 {
    /*background-color: #E78055;*/
    color: white;
    background: linear-gradient(0deg, rgba(220,82,36,1) 22%, rgba(231,128,85,1) 23%, rgba(239,172,144,1) 94%, rgba(255,255,255,1) 100%);
    /*border-bottom: 15px solid #DC5224;*/
    margin-bottom: 0px;
    margin-top: 0px;
    top: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
	  font-family: "Roboto Slab", "sans-serif";
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  overflow: auto;
  background-color: #333;
}

header li {
  float: left;
  font-family: 'trueno-extrabold', sans-serif;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}
li.active a {
	background-color: white;
	color: #D94718;
}

li a:hover:not(.active) {
  background-color: gray;
}

#articles{
  width: 100%;
}

article p a {
	color: #DB4757;
}

article header h2 {
	border-bottom: thin solid #C2C2C2;
}
article header p {
  text-align: right;
  font-weight: 100;
  color: gray;
  font-style: italic;
}
main{
  display: flex;
  justify-content:space-around;
  min-height: 100%;
  padding: 20px;
  margin: 0 auto 0;
  
}
aside{
  
  margin-top: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  max-height: 30vh;
  margin-left: 50px;
  flex-wrap: wrap;
}
aside h3{
  font-family: "Roboto Slab", "sans-serif";
  background-color:#E26633;
  color: white;
  margin-top: 0px;
  padding: 5px;
  
}
aside div{
  width: 360px;
  
}
aside ul{
  padding-left: 20px;
}
aside li{
  list-style-type: none; 

}
footer{
  background-color: #333;
  width: 100%;
  text-align: center;
  padding: 20px;
}
.hamburger {
  margin: auto 0;
  display: none;
  cursor: pointer;
}


@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}
@media only screen and (max-width: 657px) {
  nav ul {
    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 10px;
  padding-left: 0px;
  }

  .hamburger {
    text-align: center;
    display: block;
    filter: invert(100%) sepia(9%) saturate(875%) hue-rotate(270deg) brightness(115%) contrast(100%);
  }

  body header h1 {
    background: linear-gradient(0deg, rgba(231,128,85,1) 23%, rgba(239,172,144,1) 94%, rgba(255,255,255,1) 100%);
  }

  nav ul li{
    width: 100%;
  }
  main{
    flex-wrap: wrap;
  }
}


table {
  border:1px solid #b3adad;
  border-collapse:collapse;
  padding:5px;
  margin-left: auto;
  margin-right: auto;
}
table th {
  border:1px solid #b3adad;
  padding:5px;
  background: #f0f0f0;
  color: #313030;
}
table td {
  border:1px solid #b3adad;
  text-align:left;
  padding:5px;
  background: #ffffff;
  color: #313030;
}



body > .imageContainer {
  width: 90%;
  height: 100%;
  background: green;
}

.imageContainer img {
  width: 100%;
  height: auto;
}