@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

* {
    box-sizing: border-box;
}
html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
 
  width: 1240px;
}
body header h1 {
    /*background-color: #E78055;*/
    color: white;
    background: linear-gradient(0deg, rgba(220,82,36,1) 22%, rgba(231,128,85,1) 23%, rgba(239,172,144,1) 94%, rgba(255,255,255,1) 100%);
    /*border-bottom: 15px solid #DC5224;*/
    margin-bottom: 0px;
    margin-top: 0px;
    top: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
	  font-family: "Roboto Slab", "sans-serif";
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  overflow: auto;
  background-color: #333;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}
li.active a {
	background-color: white;
	color: orange;
}

li a:hover:not(.active) {
  background-color: gray;
}

article p a {
	color: orange;
}

article header h2 {
	border-bottom: thin solid #C2C2C2;
}
article header p {
  text-align: right;
  font-weight: 100;
  color: gray;
  font-style: italic;
}
main{
  display: flex;
  justify-content:space-around;
  
}
aside{
  width: 500px;
  
  margin-top: 10px;
  
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  max-height: 40vh;
  
}
aside h3{
  background-color: orange;
  color: white;
  margin-top: 0px;
}
aside li{
  list-style-type: none; 

}
footer{
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 1240px;
  color: white;
  text-align: center;
}
.hamburger {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}
@media only screen and (max-width: 657px) {
  header nav {
    display: none;
  }

  .hamburger {
    display: block;
  }
}


table {
  border:1px solid #b3adad;
  border-collapse:collapse;
  padding:5px;
}
table th {
  border:1px solid #b3adad;
  padding:5px;
  background: #f0f0f0;
  color: #313030;
}
table td {
  border:1px solid #b3adad;
  text-align:left;
  padding:5px;
  background: #ffffff;
  color: #313030;
}